<input [(ngModel)]="term"  placeholder="search here..." type="text" class="text-white form-control w-50 m-auto bg-transparent">

<div class="row mt-5">
    <div class="col-md-4">
        <div>
            <div class="brdr w-25 mb-3"></div>
            <h2>Trending</h2>
            <h2>Tvshows</h2>
            <h2>To show now</h2>

            <span class="welcome">most watched TvShows by day</span>
            <div class="brdr w-100 mt-3"></div>

        </div>
    </div>
    <div *ngFor="let tv of trendingTvshows|search:term" class="col-md-2">
        <div>
            <img class="w-100 mt-2" src="https://image.tmdb.org/t/p/original/{{tv.poster_path}}" alt="">
            <h4>{{tv.name}}</h4>
            <a class="btn btn-primary" routerLink="/details/{{tv.media_type}}/{{tv.id}}">details</a>
            
        </div>
    </div>
</div>